{% load static %}

<!doctype html>
<html lang="en">


    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Osahan Eat - Online Food Ordering Website HTML Template</title>    
        {% include 'base/css.html' %}
    </head>

    <body>

      
      {% include 'base/navbar.html' %}
      
      {% block body_context %}

      {% endblock body_context %}
  
      
      
      {% include 'base/footer.html' %}
      {% include 'base/js.html' %}
   </body>











</html>